@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    background-color: #b8edff;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 20px;
}

.item {
    background-color: #ffa07a; 
    text-align: center;
    padding: 40px;
}

