@charset "UTF-8";

@font-face {
    font-family:'Chickens' ;
            src: url('../../fonts/Chickens Lovers.otf') format('opentype'),
            url('../../fonts/Chickens Lovers.ttf') format('truetype');
}

:root {
    --fonte1: Arial, Helvetica, sans-serif;
    --fonte2: 'Chickens', serif;

    --cor0: rgb(169, 96, 236);
    --cor1:blueviolet;
    --cor2: #d0b4fa;
    --cor3: #dac3fc;
    --cor4: #e4d3ff;
    --cor5: #ffffff;
    --corl: white
}

body {
    background-image: linear-gradient(var(--cor2), var(--cor3), var(--cor4), var(--cor5));
    background-attachment: fixed;
    margin: 0px;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(133, 133, 182, 0.808);
    min-width: 350px;
    max-width: 700px;
    padding: 10px;
    margin: auto;
}

h1 {
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-family: var(--fonte2);
    font-size: 3em;
    font-weight: normal;
    text-align: center;
    margin-top: 0px;
}

h2 {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

p {
    font-family: var(--fonte1);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.Aulas {
    font-family: var(--fonte1);
    min-height: 300px;
    max-height: 400px;
    font-size: 15px;
}

a {
    cursor: pointer;
}

.Aulas-modulo {
    display: none;
}

.Aulas-modulo.ativo {
    display: block;
}

#Aulas-modulo1 {
    columns: 2;
    padding-top: 40px;
}

#Aulas-modulo2, #Aulas-modulo3, #Aulas-modulo4 {
    padding-left: 25%;
    padding-top: 20px;
}

button {
    font-size: 16px;
}

.modulos-nav {
    text-align: center;
    background-color: var(--cor3);
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

.modulo-btn {
    background-color: var(--cor3);
    border: none;
    padding: 10px 15px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s ease;
}

.modulo-btn:hover {
    background-color: #bbb;
}

.modulo-btn.ativo {
    background-color: var(--cor1);
    color: var(--corl);
    font-weight: bold;
}

.exercicios:hover .licoes {
    display: block;
}

.licoes {
    display: none;
    font-size: 12px;
    list-style-type: none;
    max-width: 100px;
    text-align: center;
}

ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
}

li {
    font-family: var(--fonte1);

    margin-bottom: 6.5px;

}

li:hover {
    background-color: #8e96ff85;
    transform: scale(1.05);
    max-width: 350px;
    transition-duration: all 0.3s ease;
    border-radius: 10px;
    font-weight: bold;
}

abbr {
    text-decoration: none;
}

.audio {
    margin: auto;
    padding: 40px 30px 28px;
}

footer {
    background-color: var(--cor1);
    color: var(--corl);
    text-align: center;
}

footer > a {
    text-decoration: none;
    color: var(--corl);
}

footer > a:hover {
    text-decoration: underline;
}