@charset "UTF-8";

body {
    display: flex;
    flex-direction: column;
    height: 98vh;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

ul {
    list-style: none;
    display: flex;
}

li > a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 8px 12px;

    border-radius: 50%;
    border: 1px solid #00000075;
}

a:hover {
    color: darkviolet;
    background: rgba(211, 211, 211, 0.493);
    box-shadow: 2px 2px 2px #00000075;
    transition: 0.3s;
}

a.active {
    background: #dac3fc;
    font-weight: bold;
    box-shadow: 2px 2px 2px #00000075;
}
